@use '../util' as u;

h1,
p {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1  {
    font-size: u.rem(22);
    font-weight: 700;
    line-height: 1.1;
}

p {
    font-size: u.rem(15); 
    font-weight: 400;
}