:root {
    --main-font: 'Outfit', sans-serif;
    --main-color: hsl(0, 0%, 100%);
    --main-header-color: hsl(218, 44%, 22%);
    --undertitle-color: hsl(220, 15%, 55%);
    --background-color: hsl(212, 45%, 89%);
}